.g2w_title .title-count {
    font-size: 10px;
    padding: 2px 8px;
}

.button .dashicons {
    margin: 5px 5px 0 0;
}

.repo_item {
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 15px;
}