.g2w_title .title-count {
    font-size: 10px;
    padding: 2px 8px;
}

.button .dashicons {
    margin: 5px 5px 0 0;
}

.repo_item {
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 15px;
}

.pull_post_log {
    font-family: monospace;
    background: #000;
    color: #fff;
}
.pull_post_log > p {
    margin: 0;
    padding: 5px 10px;
}
.pull_post_log > p:hover{
    background: #016087;
}